<div
  class="container no-data-page d-flex justify-content-center align-items-center height"
>
  <div class="text-center">
    <!-- No Data Icon with Animation -->
    <div class="no-data-icon mb-4">
      <i class=" bi bi-folder2-open text-primary animated-icon"></i>
    </div>
    <!-- Message -->
    <h4 class="text-warning-emphasis fw-bold mb-2">No Feedback Available for Summarization</h4>
    <p class="text-muted mb-4" style="width: 80%; margin: auto;">
      Please select both the relevant questions and employees to generate a
      summarized report. Once selections are made, the summarization will be
      displayed here.
    </p>
    <!-- Button to go back -->
    <button class="btn btn-primary btn-lg" (click)="goBackToFeedbacks()">
      <i class=" bi bi-arrow-down-left me-2"></i> Back to Feedbacks
    </button>
  </div>
</div>
