<div class="d-flex flex-column gap-3 mt-1" style="width: 88%; margin: auto;" >
  <div class="d-flex flex-row justify-content-between align-items-center">
    <div class="nav-links  ">
      <!-- <a class="nav-item text-black" routerLink="/home" [routerLinkActive]="'active'">Home</a> -->
      <!-- <a class="nav-item text-black" routerLink="/home/view-feedbacks" routerLinkActive="active">Employee Summary</a> -->
      <a class="nav-item text-black" routerLink="/home/upload-csv" routerLinkActive="active">Feedback Hub</a>
      <a class="nav-item text-black" routerLink="/home/summarisation" routerLinkActive="active">Summary</a>
      <a class="nav-item text-black" routerLink="/home/batch-summarisation" routerLinkActive="active">Bulk Summary</a>
    </div>

  </div>

  <router-outlet></router-outlet>
</div>
