<nav class="navbar text-white bg-dark" style=" width: 100%;">
    <div class="container-fluid">
        <div style="width: 90%; display: flex; justify-content: space-between; align-items: center; margin: auto; padding: 1rem;">
            <a class="navbar-brand text-white" routerLink="/home">
              <!-- <img src="https://res.cloudinary.com/dnamivbjx/image/upload/f_auto,q_auto/v1/samples/animals/aydu9rok2cgf4wzaorzu" alt="logo" width="50" height="30" alt="Profile" class="img-fluid rounded-circle"  loading="lazy" /> -->
              Employee Feedback
            </a>
            <form class="d-flex gap-3" role="search">
                <div style="display: col; gap: 5px;">
                    <input class="form-control me-2" type="search" placeholder="Search employee..." aria-label="Search" id="search" placeholder="Search by name..." list="suggestions">
                    <datalist id="suggestions">
                    </datalist>
                    <!-- <ul id="suggestions" style="list-style-type: none;"></ul>     -->
                </div>
                <button class="btn btn-outline-success" id="view-feedback-btn" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
