<div class="container mt-4">
  <div>
    <div class="row align-items-center mb-3">
      <!-- Left column for heading and summary -->
      <div class="col-md-9">
        <h4 class="text-black fw-bold fs-6">{{ key }}:</h4>
      </div>
      <!-- <div class="col-md-3 text-end">
        <ng-container *ngFor="let star of getStars(rating)">
          <i class="bi" [ngClass]="star ? 'bi-star-fill text-warning' : 'bi-star text-muted'"></i>
        </ng-container>
      </div> -->

      <!-- Right column for star rating -->
      <div class="col-md-12 text-start">
        <p>{{ expText }}</p>
      </div>
    </div>

    <hr style="margin: auto; width: 80%; color: rgb(20, 177, 177);" />
  </div>
</div>
